{% extends 'base/dashboard_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Food list page</h1>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Id</td>
            <td>Food Category Name</td>
            <td>Food Name</td>
            <td>Price</td>
            <td>Description</td>
            <td>Image</td>
            <td>
                <a href="{% url 'restaurant:food_createview'  %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for food_name in food_list %}
            <tr>
                <td>{{food_name.id}}</td>
                <td>{{food_name.food_category.name}}</td>
                <td>{{food_name.name}}</td>
                <td>{{food_name.price}}</td>
                <td>{{food_name.description}}</td>
                <td>{{food_name.image}}</td>
                <td>
                    <a href="{% url 'restaurant:food_updateview' food_name.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'restaurant:food_deleteview' food_name.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}